body {
    margin-top: 50px;
    font-family: "Tajawal", sans-serif;
    color: #311b92;
    line-height: 1;

}
  
  form {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
  }
  
  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    margin-top: -30px;
  }
  
  h2,
  .current {
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    display: inline;
  }
  .label {
    margin-left: -100px;
  }
  .location {
    display: inline;
    position: relative;
    margin-right: -240px;

  }
  .location:hover {
    cursor: pointer;
    color: red;
  }
  .weather-emoji {
    font-size: 4rem;
  }
  
  .border {
    background: #F0F8FF;
    border-radius: 50%;
    width: 525px;
    height: 525px;
    text-align: center;
  }
  
  .current-dt {
    text-align: left;
    margin-left: 100px;
  }
  
  .current-hl {
    text-align: center;
  }

  .change-unit {
    vertical-align: top;
  }
  
  .change-unit .selected {
    color:#311b92;
    cursor: default;
  }

  .change-unit .selected:hover{
   text-decoration:none;
   cursor: default;
  }
  .col {
    padding: 12px;
  }
  .forecast {
    font-size: 14px;
    text-align: center;
    position: relative;
    line-height: 12px;
    margin-top: -50px;
    color:#311b92b6;

  }
  
  .nd-0 {
    margin-top: -60px;
    margin-left: 30px;
    max-height: 10px;
  }
  
  .nd-1 {
    margin-top: 15px;
    margin-left: -20px;
  }
  
  .nd-2 {
    margin-top: 45px;
  }
  
  .nd-3 {
    margin-top: 15px;
    margin-right: -30px;
  }
  
  .nd-4 {
    margin-top: -60px;
    margin-right: 30px;
  }

  .footerText{
    display:block;
    text-align: center;
    color: #311b92;
  }

  